*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store

.classpath

.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/com.guigarage/gridfx-demos/pom.properties

target/classes/META-INF/maven/com.guigarage/gridfx-demos/pom.xml

target/classes/META-INF/maven/com.guigarage/gridfx/pom.properties

target/classes/META-INF/maven/com.guigarage/gridfx/pom.xml
